# List

In [1]:
a = []
print(type(a))
print(a)

<class 'list'>
[]

In [3]:
a = [1,2,2.,2.0,1+2j,"abc",'def',[4,5,6],(1,2,3)]
print(a)

[1, 2, 2.0, 2.0, (1+2j), 'abc', 'def', [4, 5, 6], (1, 2, 3)]

###### Concatenation

In [4]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

###### Repetition

In [5]:
a = [1,2,3]
a*4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

###### Indexing

In [6]:
a = [0,1,2,3,4,5,6,7,8,9]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
# a[0]
a[8]
a[-3]

7

###### Slicing

In [14]:
a = [0,1,2,3,4,5,6,7,8,9]
# print(a[::])
# print(a[::-1])
# print(a[:-3:])
print(a[-2:2:-1])
print(a[2:7:])

[8, 7, 6, 5, 4, 3]
[2, 3, 4, 5, 6]

In [19]:
a = [1,2,3,[4,5,6],7,8,9]
print(a[3][::-1][0])

6

In [22]:
a = [1,2,3,[4,5,6],7,8,9]
c = a[3][::-1]
c

[6, 5, 4]

In [25]:
b = [1,2,3,c]
b

[1, 2, 3, [6, 5, 4]]

In [26]:
a = [1,2,3,[4,5,6,2],7,8,9]
a[a[3][::-1][0]]

3

### create a list of 20 numbers 0-19 and filter only even numbers

In [28]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
list(range(1,10,4))

[1, 5, 9]

In [34]:
a = list(range(20))
print(a[::2])
print(a[1::2])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

###### Available Methods (append,pop,remove,insert etc.)

In [36]:
a = [0,1,2,3,4,5,6,7,8,9]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
# print(dir(a))

In [40]:
print(a)
print(a.pop())
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8]
8
[0, 1, 2, 3, 4, 5, 6, 7]

In [42]:
print(a)
print(a.pop(3))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7]
3
[0, 1, 2, 4, 5, 6, 7]

###### append

In [43]:
a

[0, 1, 2, 4, 5, 6, 7]

In [44]:
a.append(100)

In [45]:
a

[0, 1, 2, 4, 5, 6, 7, 100]

##### insert

In [46]:
a

[0, 1, 2, 4, 5, 6, 7, 100]

In [47]:
a.insert(-2,100)
a

[0, 1, 2, 4, 5, 6, 100, 7, 100]

###### remove

In [48]:
a

[0, 1, 2, 4, 5, 6, 100, 7, 100]

In [50]:
# a.remove(1000)
a.remove(100)
a

[0, 1, 2, 4, 5, 6, 7, 100]

###### del

In [51]:
a

[0, 1, 2, 4, 5, 6, 7, 100]

In [52]:
del a

In [58]:
# a

## modifying original value of a list

In [55]:
a = [1,2,3]

In [56]:
a

[1, 2, 3]

In [57]:
a[0] = 100
a

[100, 2, 3]